<%= simple_form_for @card, url: url, html: {class: 'form-horizontal'} do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@card.errors.count, "error") %> prohibited
        this card from being saved:
      </h2>
      <ul>
        <% @card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :original_text, label: t('original_text'), input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text, label: t('translated_text'), input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
  <% datetime_select :card, :review_date %>
  </div>

  <div class="form-group">
    <%= f.input :picture, label: t('picture'), as: :file %>
  </div>
  <div class="form-group">
    <%= f.input :remote_picture_url, label: t('picture_url'), input_html: { class: 'form-control' } %>
  </div>

  <% if @card.picture.url %>
  <div class="form-group">
    <%= image_tag @card.picture.url(:thumb) %>
    <p>
    <label>
      <%= f.check_box :remove_picture %>
      <%= t('remove_picture') %>
    </label>
    </p>
  </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-sm-10">
      <%= f.button :submit, @card.new_record? ? t('create') : t('save'), input_html: { class: 'btn btn-success' } %>
    </div>
  </div>

<% end %>
