<h3><%= t '.header' %></h3>

<table class="table table-striped">
  <thead>
    <tr>
    <th><%= t 'original_text' %></th>
    <th><%= t 'translated_text' %></th>
    <th><%= t 'review_date' %></th>
    <th><%= t 'picture' %></th>
    <th><%= t '.reviews' %></th>
    <th><%= t '.fails' %></th>
    <th colspan="3"><%= t '.actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= formated_date(card.review_date) %></td>
      <td><%= image_tag card.picture.url(:thumb) if card.picture? %></td>
      <td><%= card.review_count %></td>
      <td><%= card.fail_count %></td>
      <td>
        <%= link_to t('show'), [@pack, card] %>
        <%= link_to t('edit'), [:edit, @pack, card] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% content_for :sidebar do %>
  <div class="list-group">
    <%= link_to t('return_to_pack', pack: @pack.name), pack_path(@pack), class: 'list-group-item' %>
  </div>
<% end %>
