<p>
  <strong><%= t 'pack' %>:</strong>
  <%= @pack.name %>
</p>

<p>
  <strong><%= t 'original_text' %>:</strong>
  <%= @card.original_text %>
</p>

<p>
  <strong><%= t 'translated_text' %>:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <%= image_tag @card.picture.url %>
</p>

<%= link_to t('back'), pack_cards_url(@pack) %>
