<div class="row">
  <div class="col-xs-8">
    <p style="font-size: 22px;">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </p>
    <br/>
    <% if @card.nil? %>
    <h3>Нечего повторять!</h3>
    <% else %>
      <%= form_tag({controller: "cards", action: "check"}, class: "form-inline") do %>
        <%= hidden_field_tag(:original_text, @card.original_text) %>
        <%= text_field_tag(:user_text, '', class: 'form-control mb-2 mr-sm-2 mb-sm-0', placeholder: 'original text') %>
        <%= label_tag(:original_text, '=', class: 'mr-sm-2') %>
        <span style="font-size: 22px;"><%= @card.translated_text %></span>
        <%= submit_tag('Проверить!', class: 'btn btn-success') %>
      <% end %>
      <% flash.each do |name, msg| %>
        <h3><%= content_tag :span, msg, class: "label label-#{name}" %></h3>
      <% end %>
    <% end %>
  </div>
</div>
