$('#flash').html('');
$('#flash').html("<h3><span><%= @msg %></span></h3>");
$('#flash span').addClass("label label-<%= @flash_type %>");
$('#user_text').val('');
$('#response_time').val(0);

<% if @checked != SuperMemoTutor::INCORRECT_RESPONSE %>
  $('#translated_text').text("<%= @card.translated_text %>")
  $('#id').val("<%= @card.id %>");
  $('#card_image').attr('src', "<%= @card.picture.url(:thumb)%>");
<% end %>
