<p>
  <strong>Колода:</strong>
  <%= @pack.name %>
</p>

<p>
  <strong>Original text:</strong>
  <%= @card.original_text %>
</p>

<p>
  <strong>Translated text:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <%= image_tag @card.picture.url(:medium) %>
</p>

<%= link_to 'Back', pack_cards_url(@pack) %>
