<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('brand') %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('edit_profile'), edit_user_path(current_user.id) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t('logout'), :logout, method: :post %></li>
            </ul>
          </li>
          <% else %>
          <li class="active"><%= link_to 'RU', locale: :ru %></li>
          <li><%= link_to 'EN', locale: :en %></li>
          <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="active"><a href="/">Тест</a></li>
          <li><%= link_to t('my_packs'), packs_path %></li>
          <li><%= link_to t('add_pack'), new_pack_path %></li>
        <% else %>
          <li><%= link_to t('signup'), new_user_path %></li>
          <li><%= link_to t('login'), :login %></li>
          <li><%= link_to t('login_fb'), auth_at_provider_path(provider: :facebook) %></li>
        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
