<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-9">
          <div>
            <h3><%= content_tag :span, flash[:notice], class: "label label-warning" %></h3>
            <h3><%= content_tag :span, flash[:alert], class: "label label-danger" %></h3>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
